* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.header {
  height: 60px;
  background-color: green;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100% - 100px - 70px);

  &__item:first-child {
    width: 60px;
    height: 100%;
    background-color: red;
  }
}

.footer {
  height: 100px;
  background-color: #006ba0;
}

.btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #00b7ec;
}